/*
https://material-ui.com/customization/color/
primary color: #4caf50
secondary color: #43a047
third color : #d1c4e9
fourth color: #ede7f6
*/

a, a:active, a:focus, a:hover {
  color: #4caf50;
  box-shadow: none;
}

#adminmenu .wp-menu-open.menu-icon-cbxrbooking a.menu-top {
  background: #4caf50 !important;
  color: #fff !important;
}

#menu-posts-cbxrbooking .wp-submenu li.current,
#menu-posts-cbxrbooking .wp-submenu li.current:hover {
  background: #43a047 !important;
  color: #fff !important;
  font-weight: bold !important;
}

#menu-posts-cbxrbooking .wp-submenu li:hover {
  background: #66bb6a !important;
  color: #fff !important;
  font-weight: normal !important;
}

#menu-posts-cbxrbooking .wp-submenu li a:focus,
#menu-posts-cbxrbooking .wp-submenu li a:hover {
  color: #fff !important;
  /*color: rgba(0, 0, 0, 0.87) !important;*/
}

#adminmenu .wp-menu-image img {
  padding: 5px 0 0 0
}

.postbox table.widefat {
  border-radius: 5px;
}

table.widefat {
  border-top: 2px solid #43a047;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 10px 22px 0 rgba(0, 4, 32, .05);
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.postbox {
  border-top: 2px solid #4caf50 !important;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 10px 22px 0 rgba(0, 4, 32, .05) !important;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.postbox a {
  text-decoration: none;
}

.postbox .nav-tab {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 11px;
}

#poststuff h2.nav-tab-wrapper {
  margin-bottom: 0px !important;
  padding-bottom: 0px;
  border-bottom: 1px solid #4caf50 !important;
}

.postbox .nav-tab:hover {
  border-color: #4caf50 #4caf50 transparent #4caf50;
  border-width: 1px;
}

.nav-tab-active, .nav-tab-active:focus, .nav-tab-active:focus, .nav-tab-active:active, .nav-tab-active:hover {
  /*border-top: 2px solid #0085ba;*/
  background: #4caf50 !important;
  color: #ffffff !important;
  border-color: #4caf50 #4caf50 transparent #4caf50;
  border-width: 1px
}

.nav-tab-active, .nav-tab-active:hover, .nav-tab-active:focus, .nav-tab-active:focus, .nav-tab-active:active,
h1.nav-tab-wrapper, .wrap h2.nav-tab-wrapper, .nav-tab-wrapper {
  border-bottom: 1px solid #4caf50 !important;
}

#postbox-container-1 .postbox {
  border-top: 2px solid #4caf50;
}

#postbox-container-1 .postbox h3 {
  background-color: #4caf50;
  color: #fff;
}

.wp-picker-container .wp-color-result.button {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2) !important;
  border: 1px solid #ddd;
}

/*button override*/
.wp-core-ui .button,
.wp-core-ui .button-secondary {
  color: #fff;
  border: 0;
  padding: 0 12px;
  border-radius: 3px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  transition: all .3s;
  background: #4caf50;
}

.wp-core-ui .button.hover,
.wp-core-ui .button:hover,
.wp-core-ui .button-secondary:hover {
  background: #43a047;
  box-shadow: 2.736px 7.518px 20px 0 rgba(67, 160, 71, 0.15);
  color: #fff
}

/* :active state */
.wp-core-ui .button:active,
.wp-core-ui .button-secondary:active {
  background: #43a047;
  box-shadow: 2.736px 7.518px 20px 0 rgba(67, 160, 71, 0.15);
  color: #fff
}

.wp-core-ui .button.focus,
.wp-core-ui .button:focus,
.wp-core-ui .button-secondary:focus {
  background: #43a047;
  border-color: #43a047;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #43a047;
  color: #ffffff;
}

.wrap .page-title-action {
  color: #fff;
  border: 0;
  padding: 6px 12px;
  border-radius: 3px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  transition: all .3s;
  background: #4caf50;
}

.wrap .page-title-action.active, .wrap .page-title-action:active, .wrap .page-title-action.hover, .wrap .page-title-action:hover, .wrap .page-title-action.active:hover {
  background: #43a047;
  box-shadow: 2.736px 7.518px 20px 0 rgba(67, 160, 71, 0.15);
  color: #fff
}

.wrap .page-title-action.active:focus, .wrap .page-title-action:focus {
  background: #43a047;
  border-color: #43a047;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #43a047;
  color: #ffffff;
}

/* pressed state e.g. a selected setting */
.wp-core-ui .button.active,
.wp-core-ui .button.active:hover {
  background: #43a047;
  box-shadow: 2.736px 7.518px 20px 0 rgba(67, 160, 71, 0.15);
  color: #fff
}

.wp-core-ui .button.active:focus {
  background: #43a047;
  border-color: #43a047;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #43a047;
  color: #ffffff;
}

.wp-core-ui .button[disabled],
.wp-core-ui .button:disabled,
.wp-core-ui .button.disabled,
.wp-core-ui .button-secondary[disabled],
.wp-core-ui .button-secondary:disabled,
.wp-core-ui .button-secondary.disabled,
.wp-core-ui .button-disabled {
  color: rgba(0, 0, 0, 0.7) !important;
  background: #ede7f6 !important;
  border-color: #ede7f6 !important;
  box-shadow: none !important;
  text-shadow: 0 1px 0 #fff !important;
}

/* Buttons that look like links, for a cross of good semantics with the visual */
.wp-core-ui .button-link {
  /* Mimics the default link style in common.css */
  color: #4caf50;
}

.wp-core-ui .button-link:hover,
.wp-core-ui .button-link:active {
  color: #4caf50;
}

.wp-core-ui .button-link:focus {
  color: #4caf50;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #43a047;
  border-color: #43a047;
  /* Only visible in Windows High Contrast mode */

}

.wp-core-ui .button-link-delete {
  color: #43a047;
}

.wp-core-ui .button-link-delete:hover,
.wp-core-ui .button-link-delete:focus {
  color: #43a047;
}

.ie8 .wp-core-ui .button-link:focus {
  outline: #43a047 solid 1px;
}

/* ----------------------------------------------------------------------------
  3.0 - Primary Button Style
---------------------------------------------------------------------------- */
.wp-core-ui .button-primary {
  color: #fff;
  border: 0;
  padding: 0 12px;
  border-radius: 3px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  transition: all .3s;
  background: #4caf50;

}

.wp-core-ui .button-primary.active,
.wp-core-ui .button-primary.active:hover,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:active {
  background: #43a047;
  box-shadow: 2.736px 7.518px 20px 0 rgba(67, 160, 71, 0.15);
  color: #fff
}

.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary.active:focus {
  background: #43a047;
  border-color: #43a047;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #43a047;
  color: #ffffff;
}

.wp-core-ui .button-primary[disabled],
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary-disabled,
.wp-core-ui .button-primary.disabled {
  color: rgba(0, 0, 0, 0.7) !important;
  background: #ede7f6 !important;
  border-color: #ede7f6 !important;

}

/* ----------------------------------------------------------------------------
  4.0 - Button Groups
---------------------------------------------------------------------------- */

/* pressed state e.g. a selected setting */
.wp-core-ui .button-group > .button.active {
  background: #43a047;
  box-shadow: 2.736px 7.518px 20px 0 rgba(67, 160, 71, 0.15);
  color: #fff
}

.wp-core-ui .button-group > .button.active:focus {
  background: #43a047;
  border-color: #43a047;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #43a047;
  color: #ffffff;
}

/*
================================
Input field
================================
*/

input[type=text], input[type=number] {
  border: 1px solid #e4e6e6 !important;
  background-color: #eceeef !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2) !important;
  font-weight: bold !important;
}

textarea {
  border: 1px solid #e4e6e6 !important;
  background-color: #eceeef !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2) !important;
  font-weight: bold !important;
}

input[type=text]:focus, input[type=number]:focus, input[type=text]:focus, textarea:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2) !important;
  border: 1px solid #43a047 !important;
}

input[type=radio] {
  border: 1px solid #ccc !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3) !important;
}

input[type=radio]:checked::before {
  background-color: #43a047 !important;
}

input[type=radio]:focus {
  border-color: #43a047 !important;
  box-shadow: 0 0 0 1px #43a047 !important;
}

input[type=checkbox] {
  border: 1px solid #ccc !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3) !important;
  transition: all .3s !important;
}

input[type=checkbox]:focus {
  border-color: #43a047 !important;
  box-shadow: 0 0 0 1px #43a047 !important;
  outline: none !important;
}

.form-field input[type=text], .form-field textarea {
  border: 1px solid #e4e6e6;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  font-weight: bold;
}

.form-field input[type=text]:focus, .form-field textarea:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  border: 1px solid #43a047;
}

.search-box input[type=search] {
  border: 1px solid #e4e6e6;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  font-weight: bold;
}

.search-box input[type=search] {
  border: 1px solid #e4e6e6;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  font-weight: bold;
}

.search-box input[type=search]:focus {
  border: 1px solid #43a047;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  font-weight: bold;
}

.search-box input[type=search]:focus {
  border: 1px solid #43a047;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  font-weight: bold;
}

.wp-core-ui select {
  border: 1px solid #e4e6e6 !important;
  background-color: #ffffff !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2) !important;
  font-weight: bold;
}

.wp-core-ui select:focus {
  border-color: #43a047 !important;
  color: #43a047;
  box-shadow: 0 0 0 1px #43a047 !important;
}

/*
===========================
Dropdown
===========================
*/

.select2-container--default .select2-selection--single {
  border: 1px solid #e4e6e6;
  background-color: #eceeef;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  font-weight: bold;
}

.select2-container--default .select2-selection--single:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  border: 1px solid #43a047;
  outline: none;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #e4e6e6;
  background-color: #eceeef;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  font-weight: bold;
  border-radius: 5px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  border: 1px solid #43a047;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #43a047;
  border: 1px solid #43a047;
  padding: 2px 5px;
  color: #fff;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #43a047;
  box-shadow: 0 0 0 1px #43a047;
}

.select2-dropdown {
  border: 1px solid #43a047;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #4caf50
}

.widethin {
  box-shadow: 0 4px 15px 5px rgba(0, 4, 32, 0.07) !important;
  -webkit-border-top-right-radius: 0px !important;
  -webkit-border-top-left-radius: 0px !important;
  -moz-border-radius-topright: 0px !important;
  -moz-border-radius-topleft: 0px !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.widethin thead tr, .widethin tfoot tr {
  color: #4caf50;
}

.widethin thead tr th, .widethin tfoot tr th {
  padding: 5px;
  color: #4caf50;
}

/*
==============================
Overrides css for CBx booking
==============================
*/

.cbxrbooking-group input[type=radio] {
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.cbxrbooking-group input[type=radio]:checked::before {
  background-color: #43a047;
}

.cbxrbooking-group input[type=radio]:focus {
  border-color: #43a047;
  box-shadow: 0 0 0 1px #43a047;
}

.cbxrbooking-group input[type=checkbox] {
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  transition: all .3s;
}

.cbxrbooking-group input[type=checkbox]:focus {
  border-color: #43a047;
  box-shadow: 0 0 0 1px #43a047;
  outline: none;
}

.cbxrbooking-group select {
  background-color: #eceeef !important;
}

.cbxrbookingcustombootstrap select {
  background-color: #eceeef !important;
  border-radius: 4px !important;
}

.cbxrbookingcustombootstrap textarea {
  border-radius: 4px !important;
}

.cbxrbooking_scheduler_repeat_field_scheduler {
  border: none !important;
  box-shadow: 0 4px 15px 5px rgba(0, 4, 32, 0.07) !important;
  margin-bottom: 10px !important;
  padding: 8px !important;
  position: relative;
  border-radius: 5px;
}

.cbxrbooking_scheduler_exceptions_repeat_field_scheduler {
  border: none !important;
  box-shadow: 0 4px 15px 5px rgba(0, 4, 32, 0.07) !important;
  margin-bottom: 10px !important;
  padding: 8px !important;
  position: relative;
  border-radius: 5px;
}

.flatpickr-current-month input.cur-year {
  box-shadow: none !important;
}

.flatpickr-months .flatpickr-month {
  height: 34px !important;
}

.flatpickr-time input:focus {
  border: none !important;
}

.headerimage input[type=text] {
  margin-right: 5px;
}

.headerimage .button {
  margin-right: 5px;
}

p.description {
  margin-left: 5px;
}

.switchery {
  width: 50px;
  height: 25px;
}

.switchery > small {
  width: 21px;
  height: 21px;
  top: 2px
}

.cbxrb_branch_manager_listing table.widefat {
  -webkit-border-top-right-radius: 0px !important;
  -webkit-border-top-left-radius: 0px !important;
  -moz-border-radius-topright: 0px !important;
  -moz-border-radius-topleft: 0px !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.cbxrbooking_logs table.widefat {
  -webkit-border-top-right-radius: 0px !important;
  -webkit-border-top-left-radius: 0px !important;
  -moz-border-radius-topright: 0px !important;
  -moz-border-radius-topleft: 0px !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.cbxrbooking_addon_wrap .cbxbookmark_addon {
  border-radius: 8px !important;
  box-shadow: 0 4px 15px 5px rgba(0, 4, 32, 0.07) !important;
}

.cbxrbooking_addon_wrap .addons-banner-block-item-icon img {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.cbxrbookingcustombootstrap .form-control {
  border-radius: 4px;
}

.cbxrbookingcustombootstrap .form-control:focus {
  outline: none !important;
}

.flatpickr-calendar input[type=text] {
  background: transparent !important;
  border: none !important;
}

.cbxrbookingcustombootstrap .btn {

}

.cbxrbookingcustombootstrap .btn-primary {
  color: #fff;
  border: 0;
  padding: 6px 12px;
  border-radius: 3px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  transition: all .3s;
  background: #4caf50;
}

.cbxrbookingcustombootstrap .btn-primary:hover {
  background: #43a047;
  box-shadow: 2.736px 7.518px 20px 0 rgba(67, 160, 71, 0.15);
  color: #fff
}

.cbxrbookingcustombootstrap .btn-primary:active:focus {
  background: #43a047;
  box-shadow: 2.736px 7.518px 20px 0 rgba(67, 160, 71, 0.15);
  color: #fff
}

.cbxrbookingcustombootstrap .btn-primary:active:focus {
  background: #43a047;
  border-color: #43a047;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #43a047;
  color: #ffffff;
  outline: none
}

/*.cbxrbookinglog_admin_logforms_sel {
  border: 1px solid #4caf50 !important;
  background: #4caf50 !important;
  transition: all .3s;
  border-radius: 8px;
}

.cbxrbookinglog_admin_logforms_sel:hover {
  background: #43a047;
  box-shadow: 6.736px 7.518px 20px 0 rgba(67, 160, 71, 0.15) !important;
  color: #fff;
}*/

.cbxrbookinglog_admin_logforms_sel a {
  padding: 5px 10px;
  text-decoration: none;
  background: #43a047;
  box-shadow: 6.736px 7.518px 20px 0 rgba(67, 160, 71, 0.15) !important;
  color: #fff;
}
